{% extends 'HeadFoot.html' %}
{% block myblock %}
{% load static %}

<style>
    .bg{
        background: url("{% static 'images/AboutImages/doctor.jpg' %}");background-size: cover; background-size: 100% 100%;
    }
    .ht{
        height: 100px;
    }
    .bg{
        background:url("{% static 'images/BkApptImages/Banner2.jpg' %}");
        background-size: 100% 100%;
        background-size: cover;
        height: 300px;
        }
</style>
<body class="bg-white">


        <div class="container-fluid">
            <div class="row bg text-center font-weight-bold text-white">
                <div class="col-md-12 bg" >
                    <div style="margin-top:50px;">
                    <h1 class="wow fadeInRight" style="font-family: serif;color:indianred;font-style: italic;">ABOUT</h1>
                    <p class="wow fadeInLeft" style="font-family: cursive;"><a href="{% url 'Homes' %}">Home &gt;</a>
                    <span style="font-family: cursive;"> <a href="{% url 'AboutUS' %}">About US &gt;</span></a></p>
                    </div>
                </div>
            </div>
        
        <div class="container-fluid bg-white">
            <div class="row ">
                <div class="col-md-6 pt-5">
                    <img class="doctor wow lightSpeedIn" src="{% static 'images/AboutImages/doctor1.jpg' %}"style="height:450px; width: 100%;margin-top:10px" >
                </div>
                <div class="col-md-6 "style="margin-top:10px">
                    <h6 class="wow fadeInUp" style="font-family: Verdana, Geneva, Tahoma, sans-serif;  padding-top:40px;text-align:center;"> WELCOME TO NURTURE HEALTH </h6>
                    <h5 style="padding-left:50px;font-weight:bold;text-align: center;padding-top: 10px;">We are delighted to welcome you to our Website...</h5>
                    <p style="font-size: 20px;">At The Clinic Nurture Health, our aim is to provide for all of your and your family's medical needs. We are a small, 'boutique' practice and are proud to be a part of the local community, bringing high-quality, personalised GP medical services to the people of Country and our surrounding area.</br> </br>We aim to give you, as a patient, the time and respect that you deserve and need, whilst delivering the best in medical care.  
                        <br>Further details on how to find us can be found by clicking on the 'Contact Us' below.
                        </p><br>
                    <button class="btn btn-success mx-auto" style="margin-bottom: 15px; text-align: center;"><a href="{% url 'ContactUS' %}">Contact Us</a></button>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row py-2">
                <div class="col-md-6" style="background-color:lightseagreen" width="100%" height="800">
                    <h5 class="wow fadeInRight" style="text-align: center; color: white;"><i class="fas fa-thumbs-up fa-2x text-white pt-0 pb-0"></i>WHY WE ARE BEST</h5>
                        
                    <p class="wow fadeInLeft"style="text-align: center; color: white; font-style: italic;">We are best as we Provide treatment for all of your needs.Provide Suitable environment.</p>
                    
                    <h5 class="wow fadeInRight" style="text-align: center; color: white;"><i class="fas fa-id-card-alt fa-2x text-white" ></i>WELL EXPERIENCIED DOCTORS</h5>
                    <p class="wow fadeInLeft" style="text-align: center; color: white; font-style: italic;">All our Doctors are Well experienced and available 24hrs to help you.</br>nisi aenean vulpulate eleifened tellius Aenean.</p>
                    
                    <h5 class="wow fadeInRight" style="text-align: center; color: white;"><i class="fas fa-wifi fa-2x text-white"></i>FREE MEDICAL COUNSELING</h5>
                    <p class="wow fadeInLeft"style="text-align: center; color: white; font-style: italic;">We give Free Medical Counselling as per your needs.You can fill the ContactUs form for the Counselling.</br>nisi aenean vulpulate eleifened tellius Aenean.</p>
                    
                    <h5 class="pt-4 wow fadeInRight" style="text-align: center; color: white;"><i class="fa fa-credit-card fa-2x text-white"></i> ONLINE BILL PAYMENTS</h5>
                    <p class="wow fadeInRight" style="text-align: center; color: white; font-style: italic;">We Provide online Bill Payments on Booking Appointment.</p>
                    </div>
                <div class=" col-md-6 wow fadeInDown">
                    <img src="{% static 'images/AboutImages/hospitaltool.jpg' %}"  width="100%" height="565" >
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}
