{% extends 'HeadFoot.html' %}
{% block myblock %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'Bootstrap/css/bootstrap.min.css' %}">
    <style>
        .bg
        {
        background: url("{% static 'images/BkApptImages/BkAppt.jpg' %}");
        background-size:cover;
        }
        .ch{
           background:rgba(115, 106, 196, 0.2);
        }
        
    </style>
    </head>

    <body>
      <div class="container-fluid ">
         <div class="row bg text-center font-weight-bold text-white">
         <div class="col-md-12" style="background:rgba(0,125,255,0.4);padding:100px 0px;background-size: cover;">
                   <h1 class="font-weight-bold">Appointment</h1>
                   <p>
                   <a href="" class="text-white">Home &gt;</a> 
                   <a href="" class="text-white">Departments &gt;</a>
                 </p>
               </div>
            </div>
         </div>
       

      <div class="container-fluid">
         <div class="row py-3">

            <div class="col-md-6 ch">
               <h1 style="text-align:center;color:darkblue" class="pt-4">Book an Appointment</h1><br/>
               <form class="py-4">
                <div class="col-md-12">  
                  <div class="row mt-4" >     
                  <div class="form-group">
                     <input type="text" placeholder="Patient Name..." class="form-control">
                  </div>
                  </div>

                  <div class="row mt-4">
                  <div class="form-group">
                     <input type="text"  class="form-control" placeholder="Phone number" pattern="[0-9]{10}" title="Number should contain 10 digits only!">
                  </div>
                  </div>

                   <div class="row mt-4">
                  <div class="input-group">
                     <input type="email" placeholder="Enter Email" class="form-control">
                     <div class="input-group-append">
                        <span class="input-group-text">@gmail.com</span>
                     </div>
                  </div>
                  </div>
                  
                  <div class="row mt-4">
                  <div class="form-group">
                     <input type="date" placeholder="Date of Birth..." class="form-control">
                  </div>
               </div>
                <div class="row mt-4">
                  <div class="form-group">
                     <input type="text" placeholder="Disease type..." class="form-control">
                  </div>
                </div> 

                <div class="row mt-4">
                  <div class="form-group">
                     <input type="text" placeholder="Appointment Date..." class="form-control">
                  </div>
               </div>
               
               <div class="row mt-4">
                  <div class="form-group">
                     <textarea placeholder="Messages..." cols="100" rows="6" class="form-control"></textarea>
                  </div>
               </div>
 
               <div class="row mt-4">
                  <div class="form-group">
                     <input type="submit" class="btn btn-success form-control" value="Send Message" >
                  </div>
               </div>  
            </div> 
       </form>

            </div>
         
            <div class="col-md-6 vg bg-light">
               <h1 style="text-align:center;font-size:70px;color:darkmagenta" class="pt-4">Servicing Hours</h1><br/>
               <p style="font-size: 25px;background:linear-gradient(lightblue,greenyellow)"> For  the  treatment  of  patients  affected  from  any  kind  of  disease can book appointment for their check from the available Doctors at specific date or a day. Any person suffering from any disease who want treatment can get appointment booked by entering Patients Name, Contact Number of the Patient, Email Address, Date Of Birth, Disease Type, Appointment Date and any kind of message...So the Servicing Hours for treatment of the patients are... </p><br/><br/>
               
               <div class="row">
                  <div class="col-md-8 mx-auto" style="color:firebrick">
                     <h5>Monday
                        <h5>-Friday
                        <span class="mx-5">6a.m. - 12p.m.</span>
                        </h5>
                     <h5> 
                  </div>
               </div>

               <div class="row">
                  <div class="col-md-8 mx-auto" style="color:firebrick">
                     <h5>Saturday
                        <span class="mx-5">8a.m. - 12p.m.</span>
                     </h5>
                  </div>
               </div>

               <div class="row">
                  <div class="col-md-8 mx-auto" style="color:firebrick">
                     <h5>Sunday
                     <span class="mx-5">9a.m. - 10p.m.</span>
                  </h5>
                  </div>
               </div>
            </div>
         </div>
         
      </div>
   </body>
</html>
{% endblock %}