{% extends "dashboard_base.html" %}
{% block dashboard %}
<style>
    label{
        font-size: 25px;
        color:darkslategrey
    }
    input{
        width:87%;
    }
</style>
<body class="bg-white">
<div class="container-fluid">
    <div class="row" style="background-color:cornsilk;">
        <div class="col-md-12 mx-auto my-5 p-4 bg-gray" >
            <form method="post">
                {% csrf_token %}
                <h1 style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;text-align:center;color:purple;background:repeating-linear-gradient(gray,white)">Get Your Password</h1>
                <hr></hr>
                {% if msz %}
                    <div class="alert {{col}} text-center">{{msz}}</div>
                {% endif %}
                <div class="form-group">
                    <label style="font-family: cursive;font-style: italic;">Current Password:</label>
                    <input type="password" class="form-control" name="cpwd" required>
                </div><br/><br/>

                <div class="form-group">
                    <label style="font-family:cursive;font-style: italic;">New Password:</label>
                    <input type="password" class="form-control" name="npwd" id="pas" required onkeyup="check_pass()">
                </div><br/><br/>

                <div class="form-group">
                    <label style="font-family:cursive;font-style: italic">Confirm New Password</label>
                    <input type="password" class="form-control" id="cpas" required onkeyup="check_pass()">
                </div><br/><br/><br/>

                <div class="form-group">
                    <input type="submit" class="btn btn-warning" value="Change Password" id="sbbtn">
                </div><br/><br/>
            </form>
        </div>
    </div>
</div>
        </div>
    </div>
</div>
<script>
    function check_pass(){
        let p = $("#pas").val();
        let cp = $("#cpas").val();
        if(p==cp){
            // $("#pas").css("border","1px solid green");
            // $("#cpas").css("border","1px solid green");
            $("#pas").removeClass("alert alert-danger").addClass("alert alert-success");
            $("#cpas").removeClass("alert alert-danger").addClass("alert alert-success");
            $("#sbbtn").removeAttr("disabled");
        }else{
            // $("#pas").css("border","1px solid red");
            // $("#cpas").css("border","1px solid red");
            $("#pas").removeClass("alert alert-success").addClass("alert alert-danger");
            $("#cpas").removeClass("alert alert-success").addClass("alert alert-danger");
            $("#sbbtn").attr("disabled","disabled");
        }
    }
</script>
</body>
{% endblock %}