{% extends "HeadFoot.html" %}
{% block myblock %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'Bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'Jquery.js' %}"></script>

</head>
<body>
    <div class="container-fluid" style="padding-top: 10px;">
        <div class="block-header">
            <div class="row"  style="text-align: center;  background-color:pink">
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <h2 style="color:green;">Dashboard</h2>
                    <small style="color:green;">Welcome to Nurture Health</small>
                    
                </div>
            </div>    
        </div>
    </div>        
                <div class="container-fluid" style="padding-top: 30px;">
                    <div class="row clearfix">
                        <div class="col-lg-4 col-md-6">
                            <div class="card">
                                <div class="body" style="background-color: cyan;">
                                    <h3 class="number count-to m-b-0" data-from="0" data-to="1600" data-speed="2500" data-fresh-interval="700">1600 <i class="zmdi zmdi-trending-up float-right"></i></h3>
                                    <p class="text-muted">New Feedbacks</p>
                                    <div class="progress">
                                        <div class="progress-bar l-blush" role="progressbar" aria-valuenow="68" aria-valuemin="0" aria-valuemax="100" style="width: 68%;"></div>
                                    </div>
                                    <small>Change 15%</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="card">
                                <div class="body" style="background-color: cyan;">
                                    <h3 class="number count-to m-b-0" data-from="0" data-to="3218" data-speed="2500" data-fresh-interval="1000">3218 <i class="zmdi zmdi-trending-up float-right"></i></h3>
                                    <p class="text-muted">Happy Clients</p>
                                    <div class="progress">
                                        <div class="progress-bar l-pink" role="progressbar" aria-valuenow="68" aria-valuemin="0" aria-valuemax="100" style="width: 68%;"></div>
                                    </div>
                                    <small>Change 23%</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="card">
                                <div class="body" style="background-color: cyan;">
                                    <h3 class="number count-to m-b-0" data-from="0" data-to="284" data-speed="2500" data-fresh-interval="1000">284 <i class="zmdi zmdi-trending-up float-right"></i></h3>
                                    <p class="text-muted">Well Smiley Faces <i class="zmdi zmdi-mood"></i></p>
                                    <div class="progress">
                                        <div class="progress-bar l-purple" role="progressbar" aria-valuenow="68" aria-valuemin="0" aria-valuemax="100" style="width: 68%;"></div>
                                    </div>
                                    <small>Change 50%</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="container-fluid" style="padding-top: 30px;">
                        <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-6">
                                <div class="card top_counter">
                                    <div class="body">
                                        <div class="icon xl-slategray"><i class="zmdi zmdi-account"></i> </div>
                                        <div class="content">
                                            <div class="text">New Patient</div>
                                            <h5 class="number">27</h5>
                                        </div>
                                    </div>                    
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="card top_counter">
                                    <div class="body">
                                        <div class="icon xl-slategray"><i class="zmdi zmdi-account"></i> </div>
                                        <div class="content">
                                            <div class="text">OPD Patient</div>
                                            <h5 class="number">19</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="card top_counter">
                                    <div class="body">
                                        <div class="icon xl-slategray"><i class="zmdi zmdi-bug"></i> </div>
                                        <div class="content">
                                            <div class="text">Operations</div>
                                            <h5 class="number">08</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="container-fluid" style="padding-top: 20px;width: 100%; height: 500px;">
                    <div class="row">
                        <div class="col md-12" >
                            <h2><strong>Our</strong> Location <small>Contrary to popular belief, Lorem Ipsum is not simply random text</small></h2>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3430.056283563222!2d76.69247711508578!3d30.716818081642653!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fee5a42944be3%3A0xb713d3a3e26a89c1!2sSachTech%20Solution%20Pvt.%20Ltd.!5e0!3m2!1sen!2sin!4v1585845717968!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></iframe>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row" style="margin-top: 30px;">
                        <div class="col-md-12 ">
                            <h2 style="text-align: center; background-color: green; color: yellow;"><strong>Dr.</strong> Timeline</h2>
                        </div>
                </div>
                    
                
                <div class="row">
                    
                    <div class=" col-md-5">
                        
                        <img src="{% static 'images/DashboardImages/DoctorClock.jpg' %}" style="height: 400px ; width: 100%;">
                    </div>
                           
            
        
                            
    

 <div class="col-md-6">
     <img src="{% static 'images/DashboardImages/DoctorTimetable.jpg' %}" style="width: 100%;height: 400px;">
 </div>

</div>
                </div>

<div class="continer-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="body" >
<div class="table-responsive">
    <table class="table table-striped m-b-0">
        <thead>
            <tr>
                <th>#</th>
                <th></th>
                <th>Name</th>
                <th>Address</th>
                <th>Diseases</th>
    
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td><img src="http://via.placeholder.com/35x35" alt="Avatar" class="rounded-circle"></td>
                <td>Virginia</td>
                <td>123 6th St. Melbourne, FL 32904</td>
                <td><span class="badge badge-danger">Fever</span> </td>
            </tr>
            <tr>
                <td>2</td>
                <td><img src="http://via.placeholder.com/35x35" alt="Avatar" class="rounded-circle"></td>
                <td>Julie </td>
                <td>71 Pilgrim Avenue Chevy Chase, MD 20815</td>
                <td><span class="badge badge-info">Cancer</span> </td>
            </tr>
            <tr>
                <td>3</td>
                <td><img src="http://via.placeholder.com/35x35" alt="Avatar" class="rounded-circle"></td>
                <td>Woods</td>
                <td>70 Bowman St. South Windsor, CT 06074</td>
                <td><span class="badge badge-warning">Lakva</span> </td>
            </tr>
            <tr>
                <td>4</td>
                <td><img src="http://via.placeholder.com/35x35" alt="Avatar" class="rounded-circle"></td>
                <td>Lewis</td>
                <td>4 Goldfield Rd.Honolulu, HI 96815</td>
                <td><span class="badge badge-success">Dental</span> </td>
            </tr>
        </tbody>
    </table>
</div>
</div>
</div>
</div>
</div>                      
                
</body>
</html>
{% endblock %}