{% extends "HeadFoot.html" %}
<!DOCTYPE html>

{% block myblock %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctors</title>
    
    <link rel="stylesheet" href="{% static 'Bootstrap/css/bootstrap.min.css' %}">
    
    <script src="{% static 'Bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'Jquery.js' %}"></script>
    <link rel="stylesheet" href="{% static 'fonticon/css/all.min.css' %}">
 <style>
     .cont{
         background:url("{% static 'images/DoctorImages/dc13.jpg' %}" );
         background-size:100% 100%;
         background-attachment:scroll;
         height: auto;
         width: auto;
         

     }
 </style>   
</head>


<body>
    <div class="container-fluid cont">
        <div class="row col-md-12 p-5 mx-auto ">
            
                <div class="col-md-12 text-center">
                <h2 >SPECIALISTS</h2>
                
            </div>
            <div class="col-md-12 text-center">
                <a  href=" ">HOME > </a>
                <a href="" style="color: dimgray;">SPECIALISTS ></a> 
            </div>
                
            
            </div>
        </div>

<div class="container-fluid">
    <div class="row ">
        <div class="col-md-12 text-center">
        <h2>MEET OUR SPECIALISTS</h2>
    </div>
        <div class="col-md-12 text-center">
        <P>Duis placerat aliquam orci non auctor.Suspendiyas disse</P>
        </div>
    </div>
</div>    
 
<div class="container-fluid">
    <div class="row col-md-12">

        <div class="col-md-3 py-2">
            <img src="{% static 'images/DoctorImages/dc1.jpg' %}" style="height:300px;width:300px;">
            <h5 style="text-align: center;color: black;"> DR.MITCHEL KAPPOS</h5>
            <P style="text-align: center;">Dental</P>
            <button class="btn form-control"style="text-align:center; border:2px solid skyblue;" >VIEW PROFILE</button>
        </div>

        <div class="col-md-3 py-2">
            <img src="{% static 'images/DoctorImages/dc2.jpg' %}"style="height:300px;width:300px;">
            <h5 style="text-align: center;color: black;"> DR.LEONARDO DA VINCI</h5>
            <p style="text-align: center;">Gynaecological</p>
            <button class="btn form-control"style="text-align:center; border:2px solid skyblue;" >VIEW PROFILE</button>
        </div>

        <div class="col-md-3 py-2">
            <img src="{% static 'images/DoctorImages/dc3.jpg' %}"style="height:300px;width:300px;">
            <h5 style="text-align: center;color: black;"> DR.SNEHA DOE</h5>
            <p style="text-align: center;">Pediatric Clinic</p>
            <button class="btn form-control"style="text-align:center; border:2px solid skyblue;" >VIEW PROFILE</button>
        </div>
       
        <div class="col-md-3 py-2">
            <img src="{% static 'images/DoctorImages/dc4.jpg' %}"style="height:300px;width:300px;">
            <h5 style="text-align: center;color: black;"> DR.MIXI LEE</h5>
            <P style="text-align: center;">Surgreen</P>
            <button class="btn form-control"style="text-align:center; border:2px solid skyblue;" >VIEW PROFILE</button>
        </div>
    </div>

        <div class="row col-md-12">
            <div class="col-md-3 py-2">
                <img src="{% static 'images/DoctorImages/dc9.jpg' %}"style="height:300px;width:300px;">
                <h5 style="text-align: center;color: black;"> DR.ANGELINA JOHN</h5>
                <P style="text-align: center;">General Health Care</P>
                <button class="btn form-control"style="text-align:center; border:2px solid skyblue;" >VIEW PROFILE</button>
            </div>

            <div class="col-md-3 py-2 ">
                <img src="{% static 'images/DoctorImages/dc5.jpg' %}"style="height:300px;width:300px;">
                <h5 style="text-align: center;color: black;"> DR.JUHI JAIN</h5>
                <P style="text-align: center;">Rehabilitation</P>
                <button class="btn form-control"style="text-align:center; border:2px solid skyblue;" >VIEW PROFILE</button>
            </div>

            <div class="col-md-3 py-2">
                <img src="{% static 'images/DoctorImages/dc7.jpg' %}"style="height:300px;width:300px;">
                <h5 style="text-align: center;color: black;"> DR.PETER</h5>
                <P style="text-align: center;">Pediatric Clinic</P>
                <button class="btn form-control"style="text-align:center; border:2px solid skyblue;" >VIEW PROFILE</button>
            </div> 

            <div class="col-md-3 py-2">
                <img src="{% static 'images/DoctorImages/dc8.jpg' %}"style="height:300px;width:300px;">
                <h5 style="text-align: center;color: black;"> DR.SAMUEL</h5>
                <P style="text-align: center;">Surgreen</P>
                <button class="btn form-control"style="text-align:center; border:2px solid skyblue;" >VIEW PROFILE</button>
            </div>
            </div>
            </div>
</body>
</html>
{% endblock %}

