{% extends 'HeadFoot.html' %}
{% load static %}
{% block myblock %}

  <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<div class="container-fluid bg-white">
  <div class="row " style="background:url(static/images/BkApptImages/Banner2.jpg); background-size:100% 100%; background-attachment: fixed;"></div>
    <div class="col-md-12 text-white text-center py-5 trans">
        <div class="py-5">
            <h1 class="text-dark wow fadeInDown">Dr. {{doctor.user.first_name}} {{doctor.user.last_name}}</h1>
            <div class="hr m-auto bg-white"></div>
        </div>
    </div>
</div>
<!-- Laboratory Analysis-->
{% if status %}
  <div class="alert alert-success text-center">{{status}}</div>
{% endif %}
<section class="" >
        
                <div class="row">
                    <div class="col-md-6 element-animate">
                      {% if doctor.profile_pic %}
                        <img src="/media/{{doctor.profile_pic}}"width="100%" height="450" style="border: 2px solid black;" class="rounded-lg">
                      {% else %}
                        <img src="/static/images/profile_pic.png"width="100%" height="450" style="border: 2px solid black;" class="rounded-lg">
                      {% endif %}
                      <div class="mt-2">
                                    
                      </div>
                  </div>
                     <div class="col-md-5 py-3 px-5 wow fadeInDown">
           <h3>Dr. {{doctor.user.first_name}} {{doctor.user.last_name}}</h3>
          <p style="color: #8c8c8c"> {{doctor.specialization}}</p>
          <div class="primary">
            <div class="row element-animate">
                <div class="col-md-12">
                <p><strong>Base Fee (Rs.): </strong>{{doctor.fee}} </p>    
                <p><strong>Age: </strong>{{doctor.age}} </p>
                <p><strong>Gender: </strong>{{doctor.gender}} </p>
                <p><strong>Clinic Info: </strong>{{doctor.clinic_info}} </p>
                <p><strong>Clinic Address: </strong>{{doctor.clinic_address}} </p>
                <p><strong>About: </strong>{{doctor.about}}</p>
                <div>
                  {% if user.is_authenticated %}
                    <!-- Button trigger modal -->
                    {% if not user.is_staff or not user.is_superuser %}
                      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modelId"><a href="{% url 'process_payment' %}">Make Appointment</a>
                        
                      </button>
                      <!-- Button trigger modal -->
                      <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modalR">
                        Reviews
                      </button>
                    {% else %}
                     <button class="btn btn-btn-success" ><a href="{% url 'Homes' %}"  style="color: black;">Sign-in as patient to make appointment</a></button>
                    {% endif %}
                  {% else %}
                     <button class="btn btn-btn-success" ><a href="{% url 'Homes' %}"  style="color: black;">Sign-in as patient to make appointment</a></button>
                  {% endif %}
                </div>            
              </div> 
            </div>
        </div>
      </div>
    </div>
</section>


  <!-- Modal -->
  <div class="modal " id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Make Appointment</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form action="" method="POST">
        <div class="modal-body">
            {% csrf_token %}
            <div class="form-group">
              <label for="">Mobile No.</label>
              <input type="text" name="contact" title="Phone number with 4-9 and remaing 9 digit with 0-9"  pattern="[4-9]{1}[0-9]{9}"  class="form-control">
            </div>
            <div class="form-group">
              <label for="">Date</label>
              <input type="date" name="date" class="form-control" min="05/06/2020" id="date">
            </div>
            <div class="form-group">
              <label for="">Time</label>
              <input type="time" name="time" class="form-control" min="" id="time">
            </div>
            <div class="form-group">
              <label for="">Disease</label>
              <input type="text" name="disease" class="form-control">
            </div>
            <div class="form-group">
              <label for="">Message</label>
              <textarea name="message" class="form-control" cols="30" rows="5" style="resize: none;"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-success">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>

<script>
    function todayDate() {
    var today = new Date(); // get the current date
    var dd = today.getDate()+1; //get the day from today.
    var mm = today.getMonth()+1; //get the month from today +1 because january is 0!
    var yyyy = today.getFullYear(); //get the year from today

    //if day is below 10, add a zearo before (ex: 9 -> 09)
    if(dd<10) {
        dd='0'+dd
    }

    //like the day, do the same to month (3->03)
    if(mm<10) {
        mm='0'+mm
    }

    //finally join yyyy mm and dd with a "-" between then
    return yyyy+'-'+mm+'-'+dd;
}
$(document).ready(function(){
    $('#date').attr('min', todayDate());
});
</script>

<!-- Modal -->
<div class="modal fade" id="modalR" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Reviews</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
        {% if reviews %}
          <table class="table table-bordered">
            <thead class="thead-light text-center">
              <tr>
                <th>Name</th>
                <th>Subject</th>
                <th>Comment</th>
              </tr>
            </thead>
            <tbody>
              {% for review in reviews %}
                <tr class="text-center">
                  <td>
                      <div>
                      {% for patient in patients %}
                        {% if patient.user.id == review.patient.id %}
                            {% if patient.profile_pic %}
                              <img src="/media/{{patient.profile_pic}}" alt="" width="25" height="25" class="rounded">
                            {% else %}
                              <img src="/static/images/profile_pic.png" alt="" width="25" height="25" class="rounded">
                            {% endif %}
                          {% endif %}
                        {% endfor %}
                      </div>
                      <small>{{ review.patient.first_name }} {{ review.patient.last_name }}</small>
                    </td>
                  <td>{{ review.subject }}</td>
                  <td>{{ review.comment }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
      {% else %}
      {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}



