{% extends 'dashboard_base.html' %}
{% load static %}


  <!-- Button FONT -->   


{% block dashboard %}
<link href="https://fonts.googleapis.com/css2?family=Crete+Round:ital@1&display=swap" rel="stylesheet">

<body class="bg-white">
                {% if status %}
                    <div class="alert alert-success element-animate text-center ">{{status}}</div>
                {% endif %}
                <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row bg-white shadow-sm rounded">
                    <div class="col-md-12 p-3">
                        <h5>Basic Information</h5>
                        <div class="row">
                            <div class="col-md-2 py-2 pr-2">
                                {% if data.profile_pic %}
                                    <img src="/media/{{data.profile_pic}}" alt="" height="120" width="120" class="rounded">
                                {% else %}
                                    <img src="/static/images/profile_pic.png" alt="" height="120" width="120" class="rounded">
                                {% endif %}
                            </div>
                            <div class="col-md-10 px-2 pt-5 ">
                                <span class="btn btn-success btn-file rounded-pill px-4 ">
                                    <i class="fa fa-upload"></i> Upload Photo <input type="file" name="profile_pic">
                                </span>
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group-lg pt-3">
                                    <label for="">Username</label>
                                    <input type="text" class="form-control" value="{{user.username}}" name="username" disabled>
                                </div>
                                <div class="form-group-lg pt-3">
                                    <label for="">First Name</label>
                                    <input type="text" class="form-control" value="{{user.first_name}}" name="first_name" required>
                                </div>
                                <div class="form-group-lg pt-3">
                                    <label for="">Last Name</label>
                                    <input type="text" class="form-control" value="{{user.last_name}}" name="last_name" required>
                                </div>
                                <div class="form-group-lg pt-3">
                                    <label for="">Phone Number</label>
                                    <input type="text" title="Phone number with 4-9 and remaing 9 digit with 0-9" required  pattern="[4-9]{1}[0-9]{9}" class="form-control" value="{{data.contact_number}}" name="contact_number">
                                </div>
                                
                            </div>
                            <div class="col-md-6">
                                <div class="form-group-lg pt-3">
                                    <label for="">Email</label>
                                    <input type="text" class="form-control" value="{{user.email}}" name="email" required>
                                </div>
                                <div class="form-group-lg pt-3">
                                    <label for="">Age</label>
                                    <input type="number" class="form-control" name="age" value="{{data.age}}" required>
                                </div>
                                <div class="form-group-lg pt-3">
                                    <label for="">Gender</label>
                                    <select id="" class="form-control" name="gender">
                                        <option value="Male">Male</option>
                                        {% if data.gender == "Female" %}
                                            <option value="Female" selected>Female</option>
                                        {% else %}
                                            <option value="Female">Female</option>
                                        {% endif %}   
                                        {% if data.gender == "Other" %}
                                            <option value="Other" selected>Other</option>
                                        {% else %}
                                            <option value="Other">Other</option>
                                        {% endif %}   
                                    </select>
                                </div>
                                <div class="form-group-lg pt-3">
                                    <label for="">Qualification</label>
                                    <input type="text" name="qualification" class="form-control" value="{{data.qualification}}" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row bg-white shadow-sm rounded mt-3">
                    <div class="col-md-12 p-3">
                         <h5>About Me</h5>
                         <div class="form-group">
                            <label for="">Biography</label>
                            <textarea name="about" required type="text" cols="100%" class="form-control" style="resize: none; height: 170px;">{{data.about}}</textarea>
                         </div>
                         
                    </div>
                </div>

                <div class="row bg-white shadow-sm rounded mt-3">
                    <div class="col-md-12 p-3">
                         <h5>Clinic Info</h5>
                         <div class="row">
                             <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Clinic Info</label>
                                    <input id="" class="form-control" type="text" name="clinic_info" value="{{data.clinic_info}}" required>
                                </div>
                                <div class="form-group">
                                    <label for="">Clinic Address</label>
                                    <input id="" class="form-control" type="text" name="clinic_address" value="{{data.clinic_address}}" required>
                                </div>
                             </div>
                             <div class="col-md-6">
                                
                                <div class="form-group">
                                    <label for="">Fee (Rupees)</label>
                                    <input required class="form-control" type="number" step=any name="fee" value="{{data.fee}}">
                                </div>
                             </div>
                         </div>
                    </div>
                </div>
                
                <div class="row bg-white shadow-sm rounded mt-3">
                    <div class="col-md-12 p-3">
                         <h5>Contact Details</h5>
                         <div class="row">
                             <div class="col-md-6">
                                <div class="form-group-lg">
                                    <label for="">Address Line 1</label>
                                    <input id="" required class="form-control" type="text" name="address_one" value="{{data.address_one}}">
                                </div>
                                <div class="form-group-lg">
                                    <label for="">Address Line 2</label>
                                    <input id="" required class="form-control" type="text" name="address_two" value="{{data.address_two}}">
                                </div>
                                <div class="form-group-lg">
                                    <label for="">City</label>
                                    <input id="" required class="form-control" type="text" name="city" value="{{data.city}}">
                                </div>
                                
                             </div>
                             <div class="col-md-6">
                                
                                <div class="form-group-lg">
                                    <label for="">State / Province</label>
                                    <input id="" required class="form-control" type="text" name="state" value="{{data.state}}">
                                </div>
                                <div class="form-group-lg">
                                    <label for="">Country</label>
                                    <input id="" required class="form-control" type="text" name="country" value="{{data.country}}">
                                </div>
                                <div class="form-group-lg">
                                    <label for="">Postal Code</label>
                                    <input id="" required class="form-control" type="text" name="postal_code" value="{{data.postal_code}}">
                                </div>
                             </div>
                         </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-2">
                         <div class="form-group-lg">
                            <input type="submit"  class="btn btn-success btn-block"  style="font-family: 'Crete Round', serif;" > 
                            <!-- <button type="submit" class="btn btn-success btn-block" style="font-family: 'Crete Round', serif;">Save Changes</button> -->
                        </div>
                    </div>
                </div>
            </form>
        </body>


{% endblock %}