{% extends "HeadFoot.html" %}
{% block myblock %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New home page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/homecss.css' %}">
    <link rel="stylesheet" href="{% static 'Bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'Jquery.js' %}"></script>
    <link rel="stylesheet" href="{% static 'Bootstrap/js/bootstrap.min.js' %}">
    <link rel="stylesheet" href="{% static 'fonticon/css/all.min.css' %}">
</head>
<body>
    <div class="container-fluid">
        <div class="row py-5" style=" background:url('/static/images/drcover.jpg');background-size: 100% 100%;">
            <div class="col-md-8 mx-auto my-5" >
                <form action="{% url 'all_treatments' %}">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-5">
                            <input type="text" name="qry" class="form-control" placeholder="Search by Treatment Name...">
                        </div>
                        <!-- <div class="col-md-5">
                            <input type="text" name="price" class="form-control" placeholder="Search by Price less than...">
                        </div> -->
                        <div class="col-md-2">
                            <button type="submit"  class='btn btn-success'>Search</button>
                        </div>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>

 <div class="container-fluid headerset text-center"> 
         
        <h2 style="font-family:Georgia, 'Times New Roman', Times, serif;font-size: 50px;color:slateblue;"> Welcome To Life Care</h2>
        <h1 style="font-size: 46px;color:seagreen;font-family:inherit;">WE CARE YOUR HEALTH</h1>
        <button class="btn btn-warning text-black btn-lg mb-2" style="font-size:30px;width:170px">Services</button>
    </div>
<div class="container-fluid ourservices text-center">
    <h1 style="font-size: 50px;color: lightcoral;">MEDICAL SERVICES</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <div class="row col-md-12">
        <div class="col-md-4">
            <div class="imgsetting d-block m-auto bg-secondary">
                <i class="fa fa-user fa-3x text-white"></i>
            </div>

                <h2>Blood</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                aepe in repellat facere deleniti labore temporibus ipsum </p>
            </div>

            <div class="col-md-4">
                <div class="imgsetting d-block m-auto bg-secondary">
                    <i class="fa fa-user fa-3x text-white"></i>
                </div>
                <h2>Blood</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                aepe in repellat facere deleniti labore temporibus ipsum </p>
            </div>

            <div class="col-md-4">
                <div class="imgsetting d-block m-auto bg-secondary"><i class="fa fa-user fa-3x text-white"></i>
                </div>
                <h2>Blood</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.  
                    aepe in repellat facere deleniti labore temporibus ipsum </p>
            </div>
        </div>
    </div>
    <!--///////////////////////////doctor pics/////////////////////*/-->
    
        <div class="container-fluid text-center bg-light">
            <h1>DOCTORS</h1>
            <p>Lorem ipsum dolor, sit amet consectetur</p>
            <div class="row col-md-12">
                <div class="col-md-3 ">
                    <div class="card">
                        <img src="{% static 'images/HomeImages/doctor.jpg' %}" class="card-img img-fluid">
                        <div class="card-body">
                            <h2 class="card-title">Dr.Neetika</h2>
                            <p class="card-text">hlooo neetika</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">                    
                    <div class="card">
                        <img src="{% static 'images/HomeImages/doctor.jpg' %}" class="card-img img-fluid">
                        <div class="card-body">
                            <h2 class="card-title">Dr.Neetika</h2>
                            <p class="card-text">hlooo neetika</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img src="{% static 'images/HomeImages/doctor.jpg' %}" class="card-img img-fluid">
                        <div class="card-body">
                            <h2 class="card-title">Dr.Neetika</h2>
                            <p class="card-text">hlooo neetika</p>
                        </div>
                    </div>
                </div>
            
                <div class="col-md-3">
                    <div class="card">
                        <img src="{% static 'images/HomeImages/doctor.jpg' %}" class="card-img img-fluid">
                        <div class="card-body">
                            <h2 class="card-title">Dr.Neetika</h2>
                            <p class="card-text">hlooo neetika</p>
                        </div>
                    </div>
                </div>
                </div>
            </div>

        <div class="container-fluid ourteam text-center">
            <h1>OUR DEPARTMENTS</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
            <div class="row col-md-12">
                <div class="col-md-4 ">
                    <figure class="figure">
                        <img src="{% static 'images/HomeImages/doctor.jpg' %}" class="figure-img img-fluid rounded-circle" 
                        height="250px" width="250px">
                        <figcaption>
                            <h4>Dr.Charlotte</h4>
                            <p class="figure-caption">NEUROLOGY</p>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-md-4">
                    <figure class="figure">
                        <img src="{% static 'images/HomeImages/doctor.jpg' %}" class="figure-img img-fluid rounded-circle" 
                        height="250px" width="250px">
                        <figcaption>
                            <h4>Dr.Alexander</h4>
                            <p class="figure-caption">GYNECOLOGY</p>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-md-4">
                    <figure class="figure">
                        <img src="{% static 'images/HomeImages/doctor.jpg' %}" class="figure-img img-fluid rounded-circle" 
                        height="250px" width="250px">
                        <figcaption>
                            <h4>Dr.Chris Fox</h4>
                            <p class="figure-caption">LABORATORY</p>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
     
{% endblock %}