{% extends "dashboard_base.html" %}
{% block dashboard %}
<style>
    h1{
        text-align: center;color:blue
    }
    .th{
        font-size: 20px;
        color:cadetblue;

    }
    .td{
        font-size: 18px;
    }
    
    .body{
        background-color: azure;
    }
    .bg-img{
    background:url("/static/images/cover1.jpg");background-size: 100% 100%;
}
</style>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 bg-img py-3 p-2 ">
            <h1 style="text-align: center;color:rgb(204,185,103);font-style: italic;font-family: fantasy;">Dashboard &gt; My Details</h1>
        </div>
        <div class="col-md-12 bg-white mx-auto py-4">
            <div class="card">
                <div class="card-header bg-dark">
                <div class="card-body bg-light d">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                  <th class="th">ID</th>
                                  <td class="td font-weight-bold">{{user.id}}</td>
                            </tr>
                            <tr>
                                <th class="th">Patient Name</th>
                                <td  class="td font-weight-bold">{{user.username}}</td>
                            </tr>
                            <tr>
                                <th class="th">Full Name</th>
                                <td class="td font-weight-bold">{{user.first_name}} {{user.last_name}}</td>
                            </tr>
                            <tr>
                                <th class="th">Last Login</th>
                                <td  class="td font-weight-bold">{{user.last_login}}</td>
                            </tr>
                            <tr>
                                <th class="th">Join Date</th>
                                <td class="td font-weight-bold">{{user.date_joined}}</td>
                             </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock %}