{% extends "HeadFoot.html" %}
{% block myblock %}
<!DOCTYPE html>
{% load static %}
<html>
<head>
  <style>
    .ggn{
          background: url("{% static 'images/RegisFormImages/RegForm.jpg' %}");
   font-size: 50px; font-weight:bold; font-family: cursive; height: 300px; width: 100%; 
      text-align: center; position: relative;background-size: 100% 100%; line-height: 300px;
    }
      .color-overlay{
        width: 100%; height: 100%; position: absolute; background:blue; opacity: .2; z-index: 1 ;
      }
  </style>

    
    <div class="container-fluid  p-3" >
         <div class="row">
           
    <div class="col-md-12">
      <div class="color-overlay"></div>
           <h2 class=" ggn " style="color:white;"> <span>List Of Patients/Total : {{Reviewpage|length}}</span> </h2>
          </div>
          
          </div>
  

      
        </div>
      </div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
     
      
      
      <table class="table table-bordered table-striped table-hover">
        <thead class="thead-dark" >
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Profile_Pic</th>
            <th>Feedback</th>
            <th>Date</th>
            
          </tr>
        </thead>
        <tbody>
          {% for i in Reviewpage %}
          <tr>
            <td>{{i.id}}</td>
            <td>{{i.name}}</td>
            <td><img src="/media/{{i.cover_pic}}" height="100px" width="100px" style="border-radius: 50%;"></td>
            <td>{{i.description}}</td>
            <td>{{i.added_on}}</td>

          </tr>
      {% endfor %}
        </tbody>
      </table>
    </body>
    </div>
    </div>
    </div>
</html>
{% endblock %}