{% extends 'dashboard_base.html' %}
{% load static %}
{% block dashboard %} 
<style>
    .bg-img{
    background:url("/static/images/cover1.jpg");background-size: 100% 100%;
}
</style>
<div class="container-fluid px-0">
    <div class="row">
        <div class="col-md-12 bg-img py-4 p-5">
            <h1 style="text-align: center;color:white">Dashboard &gt; Treatment History</h1>
        </div>
        <div class="col-md-12 alert-primary">
            {% for i in treatment_history %}
                <div class="card my-2">
                    <div class="card-header">
                        <strong class="float-left">Order ID: {{i.order_id}}</strong>
                        <em class="float-right">Processed On: {{i.date}}</em>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-hover table-striped">
                            {% for j in i.treatments %}
                           
                            <tr>
                                <td>
                                    <img src="/media/{{j.treatment_image}}" style="height: 100px;width:200px;">
                                </td>
                                <td><h4>{{j.treatment_name}}</h4></td>
                                <td>&#8377; {{j.treatment_actualprice}}</td>
                                <td><a href="{% url 'single_treatment' %}?tid={{j.id}} " target="blank" class="btn btn-success"><i class="fa fa-eye"></i>View</a></td>
                            </tr>
                            {% endfor %}
                        </table>
                       
                    </div>
                    <div class="card-footer">
                        <table class="table">
                            <tr>
                                <th>INVOICE ID</th>
                                <td>{{i.invoice}}</td>
                                <th>STATUS</th>
                                <td>
                                    {% if i.status %}
                                        <button class="btn btn-success btn-block"><i class="fa fa-check"></i>Success</button>
                                    {% else %}
                                        <button class="btn btn-danger btn-block">&times; Pending</button>

                                    {% endif %}
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>
            {% endfor %}
        </div>
    </div>
    
</div>
{% endblock %}