<div class="cbp-l-member-img">
	<img src="img/team/3.jpg" alt="">
</div>
<div class="cbp-l-member-info">
	<div class="cbp-l-member-name">Alison Davis</div>
	<div class="cbp-l-member-position">Cardiologist</div>
	<div class="cbp-l-member-desc">
		Alison Davison is our Brilliant Specialist in Cardiology Department.He has worked with our Partner DumbHospital for 6 years and also working with us currently from 8 yrs.He has experience of 15 years.
	</div>
</div>
