<div class="cbp-l-member-img">
	<img src="img/team/2.jpg" alt="">
</div>
<div class="cbp-l-member-info">
	<div class="cbp-l-member-name">Joseph Murphy</div>
	<div class="cbp-l-member-position">Cardiologist</div>
	<div class="cbp-l-member-desc">
		Joseph Murphy is our Brilliant Specialist in Cardiology Department.He has worked with our Partner DumbHospital for 5 years and also working with us currently from 8 yrs.He has experience of 15 years.
	</div>
</div>
