<div class="cbp-l-member-img">
	<img src="img/team/4.jpg" alt="">
</div>
<div class="cbp-l-member-info">
	<div class="cbp-l-member-name">Adam Taylor</div>
	<div class="cbp-l-member-position">Neurologist</div>
	<div class="cbp-l-member-desc">
		An amazing Neurologist have an experience of 3-4 years.
	</div>
</div>
