<div class="cbp-l-member-img">
	<img src="img/team/1.jpg" alt="">
</div>
<div class="cbp-l-member-info">
	<div class="cbp-l-member-name">Alice Grue</div>
	<div class="cbp-l-member-position">Psysiotherapist</div>
	<div class="cbp-l-member-desc">
		<p>Alice Grue is a spcailist in Physiotherapy Department.She has experience of working in aiims for 5 Years and then working with us from last 3 yrs.</p>
	</div>
</div>
